body {
    font-family: 'Open Sans', sans-serif;
}
.centering{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}  
.header{
    background-color: white;
}
.header-items{
    display: flex;
    width: 1070px;
    height: 85px;
    
    
    
}

.nav{
    margin:auto;
    margin-left: 15px;
}
    .header-placeholder{
    //   padding-left: 5%;
    }
    .nav-item ,.green-button{

        font-size: 14px;
        justify-content: center;
        flex-grow: 1;
        color:  #1b1b1b;
        font-weight: 600;
        padding: 10px 15px;
        
    }
    .nav-item:hover{
       
        border-radius: 25px;
        background-color: #eee;
        

    }
.logo-img{ 
     height: 45px; 
     width: 180px;
     margin-top: 17px;
     
     
}
.account-buttons{
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    }
    .green-button{
        color: white;
        border-radius: 25px;
        background: #72ac51;
        padding: 10px 15px 10px 15px;
        
    }

    .green-button:hover{
        background-color: #47752d;
    }

.body-top{
    width: 1070px;
    display: flex;
}
.body-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.info-cards{
    max-width: 391.25px; 
    background-color:white;
    
    
}
.info-cards-text{
    padding-left: 30px;
    padding-right: 60px;
}

.header-card-placeholder{
    padding-top: 20px;

}

.nav-card{
     
     background-color:white;
     width:  250px;
     height:fit-content;
     display: flex;
     flex-direction: column;
     
 
}
.nav-card-item{
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    

    &:hover{
         background-color: #72ac51;
         color: white;
    }
}

.card-box{
    width: 1070px;
    display: flex;
    max-width: 802.5px;
    
}



// Login Page:
// ----------------------------------------------------------------

.login-card{
    background-color: white;
    width: 570px;

}

.login-title{
    font-size: 32px;
    margin-left: 60px;
    margin-top: 67px;
    color: #565656;
    font-weight: 400;
}
 
.form-input{
    display: flex; 
    flex-direction: column; 
    font-size : 16px;
    height: 45px;
    width: 432px;
    max-width: 450px;
    margin-left: 60px;
    margin-bottom: 20px;
    border-width: 1px;
    padding-left: 15px;
    &:focus{
        outline-color: green;
    }
    &:invalid{
        outline-color: red;
    }
}

.submit-button{
    display: flex; 
    flex-direction: column; 
    border: none;
    height: 42px;
    max-width: 450px; 
    margin-left: 60px;
    padding-left: 220px; 
    padding-right: 220px; 
    margin-bottom: 60px;  
    font-size : 14px;
}