body {
    font-family: 'Open Sans', sans-serif;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}  
.header{
    background-color: white;
}
.header-items{
    display: flex;
    width: 1070px;
    height: 85px;
    margin: auto;
    
    
    
}

.nav{
    margin:auto;
    margin-left: 15px;
}
    .header-placeholder{
      padding-left: 5%;
    }
    .nav-item ,.right-button{

        font-size: 14px;
        justify-content: center;
        flex-grow: 1;
        color:  #1b1b1b;
        font-weight: 600;
        padding: 10px 15px;
        
    }
    .nav-item:hover{
       
        border-radius: 25px;
        background-color: #eee;
        

    }
.logo-img{
     height: 75px; 
     width: 180px;
}
.account-buttons{
    align-items: flex-end;
    margin: auto;
    }
    .right-button{
        color: white;
        border-radius: 25px;
        background: #72ac51;
        padding: 10px 15px 10px 15px;
            
    }

    .right-button:hover{
        background-color: #47752d;
    }

.about-body{
    width: 1070px;

    justify-content: center;
   
}

.info-cards{
    width: .75*1070px/2;
    background-color:white;
    margin-left: 20px;

}


.header-card-placeholder{
    padding-top: 20px;

}

.nav-card{
     
     background-color:white;
     width: .25*1070px;
    height:fit-content;
     display: flex;
     flex-direction: column;
     margin-left: 30px;
}
.nav-card-item{
    font-size: 14px;
    font-weight: 600;
    

    padding: 20px;
    

}
.nav-card-item:hover{
    background-color: #72ac51;
    color: white;
}

.card-box{
    width: 1070px;
    display: flex;
    
}


 
